
<h3>{{ day }}</h3>
{% for post in posts %}
<article>
<h4>
  {{ post.author }}
  <span class="hour"><a href="{{ post.url }}" target="_blank">{{ post.created_at[10:] }}</a></span>
  <small>{{ post.thread | truncate(42, True) }}</small>
</h4>
<p>
  {# If we do not truncate, hell ensues in our markdown parser when there are too many image tags #}
  {{ post.content | trim | truncate(4096) | e | markdown(p=True) }}
</p>
</article>
{% else %}
<p>
  There were no posts matching the query for this day.
</p>
{% endfor %}
