{% extends 'layout.html.jinja2' %}

{% block title %}Calendar for {{ query.name }}{% endblock %}

{% block css %}
    <style>

    body {
{#      font: 10px sans-serif;#}
      shape-rendering: crispEdges;
    }

    #calendar_data {
      min-width: 980px;
    }
    #calendar_help article {
      overflow-x: hidden;
    }
    #calendar_help article h4 span.hour {
      font-size: 0.8em;
    }
    #calendar_help article h4 small {
      opacity: 0;
    }
    #calendar_help article:hover h4 small {
      opacity: 1;
    }
    #calendar_help article:nth-child(2n) {
      background: #dadddf;
      padding: 0.62em 1em 0.01em 1em;
      margin-bottom: 0.5em;
      border-right: solid 2px black;
    }
    #calendar_help article:nth-child(2n) h4 small {
      color: #FFF;
    }

{#    #calendar_loader {#}
{#      display: none;#}
{#    }#}

    .day {
      fill: #fff;
      stroke: #ccc;
      cursor: pointer;
    }

    .month {
      fill: none;
      stroke: #000;
      stroke-width: 2px;
    }

    .RdYlGn .q0-11 {fill: rgb(255, 255, 255)}
    .RdYlGn .q1-11 {fill: rgb(230, 230, 230)}
    .RdYlGn .q2-11 {fill: rgb(211, 211, 211)}
    .RdYlGn .q3-11 {fill: rgb(192, 192, 192)}
    .RdYlGn .q4-11 {fill: rgb(170, 170, 170)}
    .RdYlGn .q5-11 {fill: rgb(156, 156, 156)}
    .RdYlGn .q6-11 {fill: rgb(131, 131, 131)}
    .RdYlGn .q7-11 {fill: rgb(112, 112, 112)}
    .RdYlGn .q8-11 {fill: rgb(92, 92, 92)}
    .RdYlGn .q9-11 {fill: rgb(81, 81, 81)}
    .RdYlGn .q10-11{fill: rgb(55, 55, 55)}


    </style>
{% endblock %}

{#############################################################################}

{% block content %}

  <div class="row expanded">
    <section id="calendar_data" class="large-6 columns"></section>
    <section class="large-5 columns">
      <h2>
        {{ query.name }}
        <a href="{{ url_for('calendar_csv', query=query.slug) }}">(csv)</a>
{% for filter in query.filters if query.filters[filter] != ".*" %}
        <br>
        <code>{{ filter }} ~= {{ query.filters[filter] }}</code>
{% endfor %}
      </h2>
{% if 'ratio' in query %}
      <p>in &permil; of query <code>{{ query['ratio'] }}</code></p>
{% endif %}

      <a class="small button success" href="{{ url_for('histogram', query=query.slug) }}">Histogram</a>

{% for q in config.queries.users if q.slug == query.slug %}{# Cheap trick #}
      <a class="small button warning" href="{{ url_for('users', query=q.slug) }}">Users</a>
{% endfor %}

{% for q in config.queries.calendar if q.slug != query.slug %}
      <a class="small button" href="{{ url_for('calendar', query=q.slug) }}">{{ q.name }}</a>
{% endfor %}

      <section id="calendar_loader">
        <div class="sk-cube-grid">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
        </div>
      </section>
      <section id="calendar_help"></section>

    </section>
  </div>

{#  <section>#}
{#    <a id="ratio_toggler" href="#" class="small button">Show </a>#}
{#  </section>#}


  <script src="//d3js.org/d3.v3.min.js"></script>

<script type="application/javascript">

var width = 960,
    height = 136,
    cellSize = 17; // cell size

var percent = d3.format(".1%"),
    format = d3.time.format("%Y-%m-%d");

var svg = d3.select("section#calendar_data").selectAll("svg")
    .data(d3.range(2008, 2018))
    .enter().append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "RdYlGn")
    .append("g")
    .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

svg.append("text")
    .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
    .style("text-anchor", "middle")
    .text(function(d) { return d; });

var rect = svg.selectAll(".day")
    .data(function(d) { return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
    .enter().append("rect")
    .attr("class", "day")
    .attr("width", cellSize)
    .attr("height", cellSize)
    .attr("x", function(d) { return d3.time.weekOfYear(d) * cellSize; })
    .attr("y", function(d) { return d.getDay() * cellSize; })
    .datum(format);

rect.append("title")
    .text(function(d) { return d; });

function load_from_csv(csv) {
  var data = d3.nest()
      .key(function(d) { return d.day; })
      .rollup(function(d) { return d[0].count; })
      .map(csv);

  var max = Object.keys(data).reduce(function(m, k){ return data[k] > m ? data[k] : m }, -Infinity);
  var color = d3.scale.quantize()
    .domain([0, max])
    .range(d3.range(11).map(function(d) { return "q" + d + "-11"; }));

  rect.filter(function(d) { return d in data; })
      .attr("class", function(d) { return "day " + color(data[d]); })
      .attr("data-day", function(d) { return d; })
      .select("title")
      .text(function(d) { return d + ": " + (data[d]); });
}

jQuery().ready(function($){
  console.info("Starting awesomeness...");

  $("#calendar_data rect.day").click(function(e){
    var day = $(this).attr('data-day');
    var $view = $("#calendar_help");
    var $loader = $("#calendar_loader");
    $view.empty();
    if ( ! day) {
      console.info("No posts for this day.");
      $view.append($("<p>No posts for this day.</p>"));
      return false;
    }
    $loader.show();
    console.info("Fetching details for day " + day);
    $.ajax({
        url: "/posts/{{ query.slug }}/day/"+day+".html",
        type: "GET",
        contentType: "text/html"
    }).done(function(data){
      //console.log("Post information recovered:", data);
      $view.empty(); // better than asserting
      $loader.hide();
      $view.append($(data));
    });
  });

  d3.csv("/calendar.{{ query.slug }}.csv", function(error, csv) {
    if (error) throw error;
    load_from_csv(csv);
    $('#calendar_loader').hide();
  });
});


svg.selectAll(".month")
    .data(function(d) { return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
    .enter().append("path")
    .attr("class", "month")
    .attr("d", monthPath);

function monthPath(t0) {
  var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
      d0 = t0.getDay(), w0 = d3.time.weekOfYear(t0),
      d1 = t1.getDay(), w1 = d3.time.weekOfYear(t1);
  return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
      + "H" + w0 * cellSize + "V" + 7 * cellSize
      + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
      + "H" + (w1 + 1) * cellSize + "V" + 0
      + "H" + (w0 + 1) * cellSize + "Z";
}

</script>


{% endblock %}
