{% extends 'layout.html.jinja2' %}

{% block title %}Histogram for {{ query.name }}{% endblock %}

{% block css %}
    <style>

    #histogram_data {
      display: none;
    }

    #histogram_lgd {
      padding: 1em;
    }

    path.line {
      stroke: steelblue;
      stroke-width: 1;
      fill: none;
    }

    path.line.avg {
      stroke: #ff5451;
      stroke-width: 2;
    }

    .avg {
      color: #ff5451;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    </style>
{% endblock %}

{#############################################################################}

{% block content %}

  <section id="histogram_data"></section>

  <section id="loader">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </section>

  <section id="histogram_lgd">
    <div class="row expanded">
      <div class="column large-7">
        <h2>
          Posts per day for
          <em>{{ query.name }}</em>
          <a href="{{ url_for('calendar_csv', query=query.slug) }}">(csv)</a>
{% for filter in query.filters if query.filters[filter] != ".*" %}
          <br>
          <code title="Yes, it's a Regular Expression!">{{ filter }} ~= {{ query.filters[filter] }}</code>
{% endfor %}
        </h2>
{% if 'ratio' in query %}
        <p>in &permil; of query <code>{{ query['ratio'] }}</code></p>
{% endif %}
      </div>

      <div class="column large-5">
        <br>
        <a class="small button success" href="{{ url_for('calendar', query=query.slug) }}">Calendar</a>
{% for q in config.queries.users if q.slug == query.slug %}{# Cheap trick #}
        <a class="small button warning" href="{{ url_for('users', query=q.slug) }}">Users</a>
{% endfor %}
{% for q in config.queries.calendar if q.slug != query.slug %}
        <a class="small button" href="{{ url_for('histogram', query=q.slug) }}">{{ q.name }}</a>
{% endfor %}
      </div>
    </div>

    <section id="aside_help"></section>

  </section>

  <script src="http://d3js.org/d3.v3.min.js"></script>

  <script type="application/javascript">
  // d3.legend.js
  // (C) 2012 ziggy.jonsson.nyc@gmail.com
  // MIT licence
  (function () {
    d3.legend = function (g) {
      g.each(function () {
        var g = d3.select(this),
            items = {},
            svg = d3.select(g.property("nearestViewportElement")),
            legendPadding = g.attr("data-style-padding") || 5,
            lb = g.selectAll(".legend-box").data([true]),
            li = g.selectAll(".legend-items").data([true]);

        //lb.enter().append("rect").classed("legend-box", true);
        li.enter().append("g").classed("legend-items", true);

        svg.selectAll("[data-legend]").each(function () {
          var self = d3.select(this);
          items[self.attr("data-legend")] = {
            pos: self.attr("data-legend-pos") || this.getBBox().y,
            color: self.attr("data-legend-color") != undefined ? self.attr("data-legend-color") : self.style("fill") != 'none' ? self.style("fill") : self.style("stroke")
          }
        });

        items = d3.entries(items).sort(function (a, b) {
          return a.value.pos - b.value.pos
        });

        li.selectAll("text")
            .data(items, function (d) { return d.key })
            .call(function (d) { d.enter().append("text") })
            .call(function (d) { d.exit().remove() })
            .attr("y", function (d, i) { return i + "em" })
            .attr("x", "1em")
            .text(function (d) { return d.key });

        li.selectAll("circle")
            .data(items, function (d) { return d.key })
            .call(function (d) { d.enter().append("circle") })
            .call(function (d) { d.exit().remove() })
            .attr("cy", function (d, i) { return i - 0.25 + "em" })
            .attr("cx", 0)
            .attr("r", "0.3em")
            .attr("transform", "translate(3,-1)")
            .style("fill", function (d) { return d.value.color });

        // Reposition and resize the box
        var lbbox = li[0][0].getBBox();
        lb.attr("x", (lbbox.x - legendPadding))
            .attr("y", (lbbox.y - legendPadding))
            .attr("height", (lbbox.height + 2 * legendPadding))
            .attr("width", (lbbox.width + 2 * legendPadding))
      });
      return g
    }
  })();
  </script>

<script type="application/javascript">
// Set the dimensions of the canvas / graph
var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
var margin = {top: 30, right: 20, bottom: 30, left: 70},
    width = w - margin.left - margin.right - 42,
    height = 690 - margin.top - margin.bottom;

// Parse the date / time
var parseDate = d3.time.format("%Y-%m-%d").parse;

// Set the ranges
var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(120).tickFormat(function(v){
      var f = x.tickFormat()(v);
      if (/^[0-9]+$/.test(f)) return f;
      return '';
    });

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(10);

var movingAvg = function(n) {
    return function (points) {
        points = points.map(function(each, index, array) {
            var to = index + n - 1;
            var subSeq, sum;
            if (to < points.length) {
                subSeq = array.slice(index, to + 1);
                sum = subSeq.reduce(function(a,b) {
                    return [a[0] + b[0], a[1] + b[1]];
                });
                return sum.map(function(each) { return each / n; });
            }
            return undefined;
        });
        points = points.filter(function(each) { return typeof each !== 'undefined' });
        // Note that one could re-interpolate the points
        // to form a basis curve (I think...)
        return points.join("L");
    }
};

// Define the lines
var valueline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.count); });
var mvavgline = d3.svg.line()
    .interpolate(movingAvg(90))
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.count); });

// Adds the svg canvas
var svg = d3.select("#histogram_data")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Get the data
function load_from_csv (data) {

    //console.log(data);

    data.forEach(function(d) {
        d.date = parseDate(d.day);
        d.count = parseFloat(d.count);
    });

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.count; })]);

    // Add the valueline path.
    svg.append("path")
        .attr("class", "line")
        .attr("data-legend", "{{ '‰ of posts per day' if 'ratio' in query else 'posts per day' }}")
        .attr("d", valueline(data));

    // Add the mvavgline path.
    svg.append("path")
        .attr("class", "line avg")
        .attr("data-legend", "moving average (over 3 months)")
        .attr("d", mvavgline(data));

    // Add the X Axis
    svg.append("g")
        .attr("class", "axis axis-x")
        .attr("transform", "translate(0," + (height) + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "axis axis-y")
        .call(yAxis);

    // Add the legend
    var legend = svg.append("g")
        .attr("class","legend")
        .attr("transform","translate("+(width - 222)+", 30)")
        .style("font-size","12px")
        .call(d3.legend);
}

jQuery().ready(function($){
  console.info("Starting awesomeness...");

  d3.csv("/calendar.{{ query.slug }}.csv", function(error, csv) {
    if (error) throw error;
    $('#histogram_data').show();
    load_from_csv(csv);
    $('#loader').hide();
  });
});

</script>


{% endblock %}
