{% extends 'layout.html.jinja2' %}

{% block title %}Home{% endblock %}

{% block css %}
    <style>
    #content {
      padding: 1.5em;
    }
    </style>
{% endblock %}

{#############################################################################}

{% block content %}

  <section id="what">
    <h2>What is this ?</h2>
    <p>{{ config.home_intro | markdown(p=False) }}</p>
  </section>

  <section>
    <h2>Available calendars</h2>
    {% for q in config.queries.calendar %}
    <a class="button small" href="calendar/{{ q.slug }}.html">{{ q.name }}</a>
    {% endfor %}
  </section>

  <section>
    <h2>Available histograms</h2>
    {% for q in config.queries.calendar %}
    <a class="button small" href="histogram/{{ q.slug }}.html">{{ q.name }}</a>
    {% endfor %}
  </section>

  <section>
    <h2>Available user analysis</h2>
    {% for q in config.queries.users %}
    <a class="button small" href="users/{{ q.slug }}.html">{{ q.name }}</a>
    {% endfor %}
  </section>

  <script type="application/javascript">
    jQuery().ready(function ($) {

    });
  </script>

{% endblock %}
