<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Welcome{% endblock %} &mdash; {{ config.metas.title }}</title>

    <meta name="description" content="{{ config.metas.description }}">
    <meta name="keywords"    content="{{ config.metas.keywords | join(', ') }}">
{% for author in config.authors | shuffle %}
    <meta name="author"      content="{{ author.name }} <{{ author.email }}>">
{% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/foundation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}
{% block css %}{% endblock %}

{% block jquery %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/vendor/console-shim.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
{% endblock %}
{% block scripts %}{% endblock %}
  </head>

  <body>
    <div id="page-container" class="container">

{#      <header class="header">#}
{#        <img class="logo" src="{{ url_for('static', filename='img/logo_cade.png') }}" alt="CADE" height="84px" />#}
{#        <h1 class="headline">Website Analyst <small>v{{ version }}</small></h1>#}
{##}
{#        <nav id="menu" role="navigation">#}
{#          <ul>#}
{#            <li class="home{% if request.path == '/index.html' or request.path == '/' %} active{% endif %}">#}
{#              <a href="{{ url_for('home') }}">Home</a>#}
{#            </li>#}
  {#            <li{% if request.path == '/authors.html' %} class="active"{% endif %}>#}
  {#              <a href="authors.html">Authors</a>#}
  {#            </li>#}
{#            <li>#}
{#              <a href="http://whyweprotest.net">WhyWeProtest</a>#}
{#            </li>#}
{#          </ul>#}
{#        </nav>#}
{##}
{#      </header>#}


      <div id="content">
{% block content %}
          <p>Please override the "content" block in the page template.</p>
{% endblock %}
      </div>

      <footer>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="http://whyweprotest.net">WhyWeProtest</a>
            </li>
            <li>
              <a href="http://framagit.org/anonymous-research/forum-analyser">Source</a>
            </li>
          </ul>
        </nav>
        <br>
        <br>
        Made in {{ now.year }}
      </footer>
    </div>

  </body>
</html>