{% extends 'layout.html.jinja2' %}

{% block title %}Users for {{ query.name }}{% endblock %}

{% block css %}
    <style>

    #histogram_data {
      display: none;
    }

    #users_lgd {
      padding: 1em;
    }

    path.line {
      stroke: steelblue;
      stroke-width: 1;
      fill: none;
    }

    path.line.avg {
      stroke: #ff5451;
      stroke-width: 2;
    }

    .avg {
      color: #ff5451;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    </style>
{% endblock %}

{#############################################################################}

{% block content %}

  <section id="users_posts"></section>

  <section id="loader">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </section>

  <section id="users_lgd">
    <div class="row expanded">
      <div class="column large-7">
        <h2>
          Posts count per user for
          <em>{{ query.name }}</em>
          <a href="{{ url_for('users_csv', query=query.slug) }}">(csv)</a>
{% for filter in query.filters if query.filters[filter] != ".*" %}
          <br>
          <code title="Yes, it's a Regular Expression!">{{ filter }} ~= {{ query.filters[filter] }}</code>
{% endfor %}
        </h2>
{% if 'ratio' in query %}
        <p>as ratio of query <code>{{ query['ratio'] }}</code></p>
{% endif %}
      </div>

      <div class="column large-5">
        <div class="row">
          <div class="large-4 columns">
            <br>
            <label>
              <input id="filter_posts_anon" type="checkbox" checked="checked" title="Check to ignore user Anonymous.">
              Ignore Anonymous
            </label>
          </div>
          <div class="large-4 columns">
            <label>Min {% if 'ratio' not in query %}posts count{% endif %}
              <input id="filter_posts_min" type="number" value="{{ '100' if query.slug == 'everything' }}" title="Remove users whose posts count is strictly less than this value">
            </label>
          </div>
          <div class="large-4 columns">
            <label>Max {% if 'ratio' not in query %}posts count{% endif %}
              <input id="filter_posts_max" type="number" title="Remove users whose posts count is strictly more than this value">
            </label>
          </div>
        </div>
        <br>
{% for q in config.queries.calendar if q.slug == query.slug %}{# Cheap trick #}
        <a class="small button success" href="{{ url_for('calendar', query=q.slug) }}">Calendar</a>
        <a class="small button success" href="{{ url_for('histogram', query=q.slug) }}">Histogram</a>
{% endfor %}
{% for q in config.queries.users if q.slug != query.slug %}
        <a class="small button" href="{{ url_for('users', query=q.slug) }}">{{ q.name }}</a>
{% endfor %}
      </div>
    </div>

  </section>

  <script src="http://d3js.org/d3.v3.min.js"></script>

<script type="application/javascript">
// Set the dimensions of the canvas / graph
var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
var margin = {top: 30, right: 20, bottom: 30, left: 70},
    width = w - margin.left - margin.right - 42,
    height = 690 - margin.top - margin.bottom;

// Set the ranges
var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(10);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(10);

// Define the lines
var valueline = d3.svg.line()
    .x(function(d,i) { return x(i); })
    .y(function(d) { return y(d.posts); });

// Adds the svg canvas
var svg = d3.select("#users_posts")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Get the data
function load_from_csv (data_all, min, max, iap) {

    // Filter by posts count
    // Remove users whose posts count is less than min or more than max
    var data = data_all.filter(function(el){
        return ! (
            (iap && el.user == "Anonymous") ||
            (typeof(min) != 'undefined' && min != null && el.posts < min) ||
            (typeof(max) != 'undefined' && max != null && el.posts > max)
        );
    });

    // Clear the graph (if needed)
    var rootEl = svg[0][0]; // no idea why, probably d3 voodoo
    while (rootEl.firstChild) { rootEl.removeChild(rootEl.firstChild); }

    // Do something
{#    svg.append("g")#}
{#        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");#}

    // Scale the range of the data
    x.domain([0, data.length]);
    y.domain([0, d3.max(data, function(d) { return d.posts; })]);

    // Add the posts count
    svg.append("path")
        .attr("class", "line")
        .attr("d", valueline(data));

{#    svg.append("rect")#}
{#      .attr("width",  function(d) { return 10; })#}
{#      .attr("height", function(d) { return 20; })#}
{#    ;#}

    // Add the X Axis
    svg.append("g")
        .attr("class", "axis axis-x")
        .attr("transform", "translate(0," + (height) + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "axis axis-y")
        .call(yAxis);

}

jQuery().ready(function($){
  console.info("Starting awesomeness...");
  var users_data;

  var reload = function() {
    var min = parseFloat($("#filter_posts_min").val());
    var max = parseFloat($("#filter_posts_max").val());
    var ignore_anon = $("#filter_posts_anon").prop("checked");
    console.log(min, max, ignore_anon);
    load_from_csv(users_data, min, max, ignore_anon);
  };

  d3.csv("/users.{{ query.slug }}.csv", function(error, csv) {
    if (error) throw error;
    console.info("CSV loaded !");
    users_data = csv;
    users_data.forEach(function(d) {
        d.posts = parseFloat(d.posts);
    });
    $('#users_posts').show();
    reload();
    $('#loader').hide();
  });

  $("#filter_posts_min").change(function(e){ reload(); });
  $("#filter_posts_max").change(function(e){ reload(); });
  $("#filter_posts_anon").change(function(e){ reload(); });

});

</script>


{% endblock %}
